$bold: 700
$semi-bold: 600
$white: white!important



.item img
    filter: brightness(0.5)
    
.content-atribut
    font-size: 1.9rem
    text-align: justify
    height: 40vh

.Subtitle-content
    margin-top: 2vh
    margin-bottom: 5vh

.Subtitle-content  h2
    font-weight: $bold
    color: $white 
    margin-top: 5vh

.start
    background:linear-gradient(45deg,  #4095cc 0%,#002fbb 100%)!important
    color: $white
